
  body {
    background-color: #EAF6F6;
    border-style: dashed;
    margin:20px;
    padding:20px;
    border-color: BLUE;
  }

  hr {
    height: 0;
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 10px;
  }

  img {
    width: 120px;
  }
  h1{
    color: #66BFBF;
  }
  h2
  {

  color: #66BFBF;
  }
  h3
  {

  color: #66BFBF;
  }
